/* div: box for new tweet area */
.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* tweet form */
#tweet-text {
width: 100%;
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 1em; 
}

.button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
}

/* counter */
.counter {
  color: #4056A1;
  font-family: 'Bungee', sans-serif;
  justify-content:
}