.new-tweet {
  width: 80%;
  margin: auto;
} 

form textarea {
  width: 100%;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 1px solid #000;
  font-size: small;
  background-color: #f4f1ec;
}

label {
  font-size: medium;
  font-weight: bold;
}

.div {
  display: flex;
  
  align-items: flex-start;
}

.submit-button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  align-self: flex-start;
}

.counter {
  float: right;
  font-family: 'Bungee', sans-serif;
}